data_directory = '/var/lib/postgresql/{{ postgresql_version }}/main'		# use data in another directory
hba_file = '/etc/postgresql/{{ postgresql_version }}/main/pg_hba.conf'	# host-based authentication file
ident_file = '/etc/postgresql/{{ postgresql_version }}/main/pg_ident.conf'	# ident configuration file
external_pid_file = '/var/run/postgresql/{{ postgresql_version }}-main.pid'			# write an extra PID file
listen_addresses = '*'
port = 5432				# (change requires restart)
max_connections = 250			# (change requires restart)
unix_socket_directories = '/var/run/postgresql'	# comma-separated list of directories
ssl = true				# (change requires restart)
ssl_cert_file = '/etc/ssl/certs/ssl-cert-snakeoil.pem'		# (change requires restart)
ssl_key_file = '/etc/ssl/private/ssl-cert-snakeoil.key'		# (change requires restart)
shared_buffers = 128MB			# min 128kB
wal_level = hot_standby
max_wal_senders = 10		# max number of walsender processes
wal_keep_segments = 20		# in logfile segments, 16MB each; 0 disables
hot_standby = on            # "on" allows queries during recovery
log_line_prefix = '%t '			# special values:
log_timezone = 'localtime'
datestyle = 'iso, mdy'
timezone = 'localtime'
lc_messages = 'en_US.UTF-8'			# locale for system error message
lc_monetary = 'en_US.UTF-8'			# locale for monetary formatting
lc_numeric = 'en_US.UTF-8'			# locale for number formatting
lc_time = 'en_US.UTF-8'				# locale for time formatting
default_text_search_config = 'pg_catalog.english'
